@model IEnumerable<PropertyRentalManagement.Models.Request>

@{
    ViewBag.Title = "Index";
}

<html>

<head>
    <link href="~/CSS/List.css" rel="stylesheet" />
    <style>
        a {
            color: white !important;
            text-decoration: none;
            font-size: 18px;
        }
    </style>
</head>
<body>


    <br />
    <center>
        <h2 class="txt-title">All Requests</h2>
    </center>
    
    <br />



    <style>
        ul.navigation {
            margin: 0px;
            padding: 0px;
        }

            ul.navigation li {
                display: inline;
                margin-right: 15px;
            }

        #lst {
            background-color: lightgrey;
            padding: 20px;
            border-radius: 30px;
        }
    </style>

    @foreach (var item in Model)
    {

        <div id="lst">

            @{ string fullName = item.Tenant.FirstName + " " + item.Tenant.LastName;}
            <tr>

                <td>
                    <ul class="navigation">
                        <li><font face="verdana" size=“7”>Request from <b>@fullName</b></font></li>


                    </ul>

                </td>


                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.RequestId, @class = ".anchor" })
                </td>



            </tr>
        </div>
        <br />

    }




    </table>

</body>
</html>
