@model IEnumerable<PropertyRentalManagement.Models.ManagerMessage>

@{
    ViewBag.Title = "GetLists";
}

<html>
<body>
    <head>
        <link href="~/CSS/messages.css" rel="stylesheet" />
        <style>
            a {
                color: white !important;
                text-decoration: none;
                font-size: 20px;
                padding-left: 10px;
            }
        </style>
    </head>

    <br />
    <center>
        <h2 class="txt-title">Messages from Tenants</h2>
    </center>
    <br />



    @foreach (var item in Model)
    {

        <div class="lst">

            @{ string fullName = item.Tenant.FirstName + " " + item.Tenant.LastName;}
            <tr>
                <td>
                    <h5>@fullName</h5>

                </td>
                <td>
                    <ul class="navigation">
                        <li><font face="verdana" size=“10”><b>Message:  </b>@Html.DisplayFor(modelItem => item.Message)</font></li>


                    </ul>

                </td>


                <td>
                    <Button class="btn-respond" type="button" value="Respond" onclick="location.href='@Url.Action("Create", "TenantMessages")'"> Respond </Button>
                    
                    <div class="anchor">
                        @Html.ActionLink("Delete Message", "Delete", new { @class = "anchor" })
                    </div>

                </td>



            </tr>
        </div>
        <br />

    }

</body>
</html>